@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #3b88c9;
  --text-color: #4e4e4e;
  --orange-color: #fe8d2f;

  --bg-blue-gradient: linear-gradient(180deg, #003d7e 0%, #042141 100%);
  --bg--card-gradient: linear-gradient(
    180deg,
    #032244 0%,
    #003c7c 52.46%,
    #01346a 100%
  );
  --bg-color-b: #011124;

  --font-Caveat: 'Caveat', cursive;
  /* ======= Font-size  */
}

:root {
  --text-heading-lg: 4rem;
  --text-paragraph: 1.8rem;
  --text-nav-item: 1.5rem;
}

body {
  background: linear-gradient(138.18deg, #f4f9fc 0%, #fcfdfe 94.44%);
}

.button-main {
  background: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  width: 17rem;
  height: 4.8rem;
  display: block;
  font-size: 1.7rem;
}

/* ===== Drop down Css  */

.dropdown-page {
  position: absolute;
  background-color: #fff;
  width: 150px;
  padding: 6px 20px;
  z-index: 1;
  border: 1px solid #e2e2e2;
  top: 60px;

  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(182, 182, 182, 0.2);
  border-radius: 4px;
}
.dropdown-page li {
  list-style: none !important;
}
.dropdown-page li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--text-color);
}
/* ===== Header  ======= */

.Launch-Grid-header .navbar {
  background: #fff;
  border: 2px solid #fff;
  padding: 1.2rem 0;
  border-radius: 0.8rem;
  height: 7.4rem;
  margin: 3rem 0;
}

.Launch-Grid-header .nav-link {
  font-size: var(--text-nav-item);
  font-weight: 600;
  color: var(--text-color);
  line-height: 2.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: block;
}
.Launch-Grid-header .nav-link:hover {
  color: var(--primary-color);
}
.Launch-Grid-header .nav-link.active {
  color: var(--primary-color);
  font-weight: 700;
}

.Launch-Grid-header .nav-item:hover .dropdown-page {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: top center;
  visibility: visible;
}
/* ==== Header ===== */

.heading-content {
  text-align: center;
  max-width: 58%;
  margin: auto;
}

.heading-content .style-title {
  font-size: 4rem;
  line-height: 5rem;
  font-family: var(--font-Caveat);
  color: var(--orange-color);
  margin-bottom: 24px;
}
.heading-content .main-heading {
  font-size: 6.4rem;
  font-weight: 800;
  color: var(--primary-color);
  line-height: 8rem;
  text-align: center;
}

.heading-content .sb-title {
  font-size: 2.4rem;
  margin-top: 1.4rem;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  :root {
    --text-heading-lg: 4rem;
    --text-paragraph: 1.8rem;
    --text-nav-item: 1.5rem;
  }

  .Launch-Grid-header .nav-link {
    font-size: var(--text-nav-item);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  :root {
    --text-heading-lg: 3rem;
    --text-paragraph: 1.6rem;
    --text-nav-item: 1.3rem;
  }

  .button-main {
    font-size: 1.5rem;
  }

  /* ====  Header  ==== */
  .Launch-Grid-header .navbar-nav {
    margin-left: 1rem !important;
  }
  .Launch-Grid-header .nav-link {
    font-size: var(--text-nav-item);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --text-heading-lg: 2.5rem;
    --text-paragraph: 1.4rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  :root {
    --text-heading-lg: 2.3rem;
    --text-paragraph: 1.3rem;
  }
}

@media screen and (min-width: 540px) and (max-width: 639px) {
  :root {
    --text-heading-lg: 2.2rem;
    --text-paragraph: 1.3rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 539px) {
  :root {
    --text-heading-lg: 2.1rem;
    --text-paragraph: 1.2rem;
  }
}

@media screen and (min-width: 100px) and (max-width: 424px) {
  :root {
    --text-heading-lg: 2rem;
    --text-paragraph: 1.2rem;
  }
}
