@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #3b88c9;
  --text-color: #4e4e4e;
  --orange-color: #fe8d2f;

  --bg-blue-gradient: linear-gradient(180deg, #003d7e 0%, #042141 100%);
  --bg--card-gradient: linear-gradient(
    180deg,
    #032244 0%,
    #003c7c 52.46%,
    #01346a 100%
  );
  --bg-color-b: #011124;

  /* ======= Font-size  */
}

body {
  background: linear-gradient(138.18deg, #f4f9fc 0%, #fcfdfe 94.44%);
}

.button-main {
  background: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  width: 17rem;
  height: 4.8rem;
  display: block;
  font-size: 1.7rem;
}

@media screen and (min-width: 1200px) and (min-width: 1600px) {
  :root {
    --text-heading-lg: 4rem;
    --text-paragraph: 1.8rem;
  }
}

@media screen and (min-width: 992px) and (min-width: 1200px) {
  :root {
    --text-heading-lg: 3rem;
    --text-paragraph: 1.6rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 991px) {
  :root {
    --text-heading-lg: 2.5rem;
    --text-paragraph: 1.4rem;
  }
}
@media screen and (min-width: 640px) and (min-width: 767px) {
  :root {
    --text-heading-lg: 2.3rem;
    --text-paragraph: 1.3rem;
  }
}

@media screen and (min-width: 540px) and (min-width: 639px) {
  :root {
    --text-heading-lg: 2.2rem;
    --text-paragraph: 1.3rem;
  }
}

@media screen and (min-width: 425px) and (min-width: 539px) {
  :root {
    --text-heading-lg: 2.1rem;
    --text-paragraph: 1.2rem;
  }
}

@media screen and (min-width: 100px) and (min-width: 424px) {
  :root {
    --text-heading-lg: 2rem;
    --text-paragraph: 1.2rem;
  }
}

/* ===== Drop down Css  */

.dropdown-page {
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  border: 1px solid #e2e2e2;
  top: 60px;
  padding: 10px;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(182, 182, 182, 0.2);
  border-radius: 4px;
}

/* ===== Header  ======= */
.Launch-Grid-header .nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  line-height: 2.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: block;
}
.Launch-Grid-header .nav-link.active {
  color: var(--primary-color);
  font-weight: 700;
}
/* ==== Header ===== */
